<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="UTF-8">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="{% static '.\service\css\reset.css' %}" type="text/css">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '.\service\css\service.css' %}" type="text/css">
</head>

<body>
    <header class="header">
    <div class="container">
        <div class="header__top">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="../../">Main</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="/service/">Services</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="/portfolio/">Portfolio</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="/blog/">Blog</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="/about_myself/">Contacts</a>
                    </li>
                </ul>
            </nav>
            <a class="header__phone" href="tel:+380501753343">+38(050)175-33-43</a>
        </div>
    </div>
  </header>

    <section class="service">
        <h3 class="service__title">
              SERVICES
              <span>what we can do</span>
        </h3>
        <div class="service__content">
            <div class="service__gallery">
                <div class="fotorama"
                    data-width="800"
                    data-height="550"
                    data-transition="crossfade"
                    data-loop="true"
                    data-autoplay="3000">
                    <img src="{% static '.\service\media\photo1.jpg' %}" alt="">
                    <img src="{% static '.\service\media\photo2.jpg' %}" alt="">
                    <img src="{% static '.\service\media\photo3.jpg' %}" alt="">
                </div>
            </div>
            <div class="service__text">
                <p>INTERIOR DESIGN We create spaces in which it is pleasant and comfortable to be.
                  Our experts understand how important a unique and atmospheric modern interior design is.
                  We carry out design projects of any complexity.</p>
            </div>
        </div>
    </section>


    <footer class="footer">
      <div class="footer__items">
          <div class="footer__item">
              <p>Telephone number:</p>
              <a href="tel:+380501753343">+38(050)175-33-43</a>
          </div>
          <div class="footer__item">
              <p>Mail:</p>
              <a href="mailto:tenyapro@gmail.com">tenyapro@gmail.com</a>
          </div>
          <div class="footer__item">
              <p>Socials:</p>
              <a href="https://www.facebook.com/chilipizzadesign" target="_blank">Facebook</a>
              <a href="https://www.instagram.com/khrystyna_prokopenko/" target="_blank">Instagram</a>
          </div>
      </div>
      <p class="footer__end">MY DESIGN © All rights reserved</p>
  </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static '.\service\js\fotorama.js' %}"></script>
</body>
</html>